h1 {text-align: center; font-size: 45px; font-family: Times New Roman; color: #660000}
body {background: #E1B890}
h2 {text-align: center; font-size: 30px; font-family: Times New Roman; color: #660000}
n {text-align: center; font-size: 35px; font-family: Times New Roman; color: #660000}