h1 {text-align: center; font-size: 45px; font-family: Times New Roman; color: #660000}
body {background: #e0b88f}

.button {
background-color: #c97f5d;
border: 0;
border-radius: 1em;
padding: 8px 16px;
font-size: 16px;
min-width: 100px;
cursor: pointer;
}

.button:hover {
  background-color: #c4714a;
}


